.header{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 0;
}
.title{
    font-weight: bold;
    font-size: 32px;
    color: #13c2c2;
}
.menuitem{
    text-align: center;
}